/* 2nd page */
/*nav bar*/
body{
    /* background: radial-gradient(
    circle,
    rgb(123, 147, 147) 0%,
    rgb(36, 57, 59) 35%,
    rgb(52, 57, 56) 70%);
    background-repeat: no-repeat;
    background*/
    background:repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.885),
    rgba(0, 0, 0, 0.937),
    rgba(0, 0, 0, 0.961),
    rgb(0, 0, 0)
    )
} 
#nav2{
   display: flex; 
   row-gap: 50vw;
   gap: 30vw;
   justify-content: center;

}
#nav2 img{
    height: 70px;
    border-radius: 10px;
}
#header2 ul{
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left: 5vw;
}
#main2{
    display: flex;
    gap: 100px;
    padding-top: 8vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    column-gap: 1vw;
    margin-right: 10vw;
    margin-left: 10vw;
}
#img2 img{
    width:250px;
    border-radius: 50px;
    box-shadow: 20px 20px 20px rgb(30, 140, 145);
}
#main2 h2{
    color:rgb(170, 250, 225);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#main2 main{
    background:repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.075),
    rgba(0, 0, 0, 0.09),
    rgba(9, 9, 9, 0.476),
    rgba(18, 17, 17, 0.8)
    );
    padding: 40px;
    padding-top: 10px;
    border-radius: 10px;
    margin-right: 0;
    position: relative;
}
#main2 .p{
    font-size:50px ;
    line-height: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#hr{
    position:absolute;
    left: 35px;
}
